@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background-color: #f5f6fa;
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd2e0;
  border-radius: 4px;
}
